body {
  padding: 10px;
  font-family: sans-serif;
}
.man-body{
	height: 350px;
	width: 300px;
	justify-content: center;
}
.n-body{
	height: 350px;
	width: 450px;
	justify-content: center;
}
.c-text{
	
}
